  <div class="v2-wrapper">
    <div class="columns is-centered is-vcentered">
      <div class="column is-full-mobile is-fixed-medium">
        <section class="section">
          <div class="box session-box session-box-top session-box-top-cloud">
            <img src="/static/app/terraform_cloud/images/terraform-cloud-logo-81769debed7594dfa089baf99d4a402aedadaaf69303482f37fac40d39e7c047.svg" alt="Terraform Cloud">
          </div>
          <div class="box session-box session-box-bottom">
            <h2 class="session-title is-size-5">Initial Setup</h2>
            <div class="notification is-info">
              <div class="content">
                To ingest data from Terraform Cloud, we need to setup a <a href="https://docs.splunk.com/Documentation/SplunkCloud/8.0.2004/AdvancedDev/ModInputsIntro" target="_blank">modular input</a> for you using an <a href="https://www.terraform.io/docs/cloud/users-teams-organizations/api-tokens.html#organization-api-tokens" target="_blank">organization token</a>.
              </div>
            </div>
            <div id="input_name_error" class="alert-errors notification is-danger" style="display: none;">
              <div class="content alert-error">
                Please enter a value for
                `input name`.
              </div>
            </div>
            <div id="organization_token_error" class="alert-errors notification is-danger" style="display: none;">
              <div class="content alert-error">
                Please enter a value for
                `organization token`.
              </div>
            </div>
            <div id="post_error" class="alert-errors notification is-danger" style="display: none;">
              <div id="post_error_message" class="content alert-error">
              </div>
            </div>
            <div>
                <form id="setup_form" onsubmit="return false;">
                  <div class="field name">
                    <h3>Input Name</h3>
                    <input class="input" type="text" name="input_name" id="input_name" required />
                  </div>
                  <div class="field org_token">
                    <h3>Organization Token:</h3>
                    <input class="input" type="password" name="organization_token" id="organization_token" required />
                  </div>
                  <div class="field">
                    <input type="submit" name="setup_button" value="Complete Setup" class="button is-fullwidth is-primary setup_button" />
                  </div>
                </form>
                <div class="field">
                  <input type="submit" name="skip_button" value="Manual Setup" class="button is-primary is-fullwidth is-outlined skip_button" />
                </div>
            </div>
          </div>
          <div>
            <p class="has-margin-bottom">
              View the <a href="https://www.terraform.io/docs/cloud/users-teams-organizations/api-tokens.html#organization-api-tokens" target="_blank">Terraform documentation</a> to learn how to create an organization token.
            </p>
          </div>
        </section>
      </div>
    </div>
  </div>
